@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Thunder";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/THUNDER/Fonts/Web-PS/Thunder-BoldLC.woff2) format("woff2");
  }
}
